{% extends 'base.html.twig' %}

{% block title %}Assortiment index{% endblock %}

{% block body %}
    <h1>Assortiment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Daily_delivery</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for assortiment in assortiments %}
            <tr>
                <td>{{ assortiment.id }}</td>
                <td>{{ assortiment.quantity }}</td>
                <td>{{ assortiment.price }}</td>
                <td>{{ assortiment.dailyDelivery }}</td>
                <td>
                    <a href="{{ path('app_assortiment_show', {'id': assortiment.id}) }}">show</a>
                    <a href="{{ path('app_assortiment_edit', {'id': assortiment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_assortiment_new') }}">Create new</a>
{% endblock %}
