{% extends 'base.html.twig' %}

{% block title %}ProductsMovement index{% endblock %}

{% block body %}
    <h1>ProductsMovement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Realised_price</th>
                <th>Realised_count</th>
                <th>Recieved_cost</th>
                <th>Recieved_count</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for products_movement in products_movements %}
            <tr>
                <td>{{ products_movement.id }}</td>
                <td>{{ products_movement.realisedPrice }}</td>
                <td>{{ products_movement.realisedCount }}</td>
                <td>{{ products_movement.recievedCost }}</td>
                <td>{{ products_movement.recievedCount }}</td>
                <td>{{ products_movement.date ? products_movement.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_products_movement_show', {'id': products_movement.id}) }}">show</a>
                    <a href="{{ path('app_products_movement_edit', {'id': products_movement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_products_movement_new') }}">Create new</a>
{% endblock %}
