{% extends 'base.html.twig' %}

{% block title %}ProductionPlan index{% endblock %}

{% block body %}
    <h1>ProductionPlan index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for production_plan in production_plans %}
            <tr>
                <td>{{ production_plan.id }}</td>
                <td>{{ production_plan.date ? production_plan.date|date('Y-m-d') : '' }}</td>
                <td>{{ production_plan.quantity }}</td>
                <td>
                    <a href="{{ path('app_production_plan_show', {'id': production_plan.id}) }}">show</a>
                    <a href="{{ path('app_production_plan_edit', {'id': production_plan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_production_plan_new') }}">Create new</a>
{% endblock %}
