{% extends 'base.html.twig' %}

{% block title %}Affiliates index{% endblock %}

{% block body %}
    <h1>Affiliates index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>Contact_number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for affiliate in affiliates %}
            <tr>
                <td>{{ affiliate.id }}</td>
                <td>{{ affiliate.address }}</td>
                <td>{{ affiliate.contactNumber }}</td>
                <td>
                    <a href="{{ path('app_affiliates_show', {'id': affiliate.id}) }}">show</a>
                    <a href="{{ path('app_affiliates_edit', {'id': affiliate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_affiliates_new') }}">Create new</a>
{% endblock %}
