{% extends 'base.html.twig' %}

{% block title %}Partners{% endblock %}

{% block body %}
    <h1>Partners</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partner.id }}</td>
            </tr>
            <tr>
                <th>Firmname</th>
                <td>{{ partner.firmname }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ partner.address }}</td>
            </tr>
            <tr>
                <th>Contact_number</th>
                <td>{{ partner.contactNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_partners_index') }}">back to list</a>

    <a href="{{ path('app_partners_edit', {'id': partner.id}) }}">edit</a>

    {{ include('partners/_delete_form.html.twig') }}
{% endblock %}
